<h1>PASSWORD GENERATOR</h1>


<form action="">
    <h3>Select the number of characters</h3>
    <select name="hhlength">
        <option value="6">1</option>
        <option value="6">2</option>
        <option value="6">3</option>
        <option value="6">4</option>
        <option value="6">5</option>
        <option value="6">6</option>
        <option value="6">7</option>
        <option value="6">8</option>
        <option value="6">9</option>
        <option value="6">10</option>
        <option value="6">11</option>
        <option value="6">12</option>
        <option value="6">13</option>
        <option value="6">14</option>
        <option value="6">15</option>
        <option value="6">16</option>

    </select>


</form>

<form action="">

    <h3>Capitalization</h3>
    <input type="checkbox"> check if capitalization is required

</form>

<form action="">

    <h3>Special Characters</h3>
    <input type="checkbox"> check if special characters are required

</form>

<form action="">

    <h3>Special Characters</h3>
    <input type="button" value="send">  I need help

</form>



 <form action="home">
    <input type="submit" value="Generate a password for me">

</form>

<ul>
    <li>Water</li>
    <li>Soda</li>
    <li>Coffee</li>

</ul>

<table>
    <table border="3">
    <tr>
        <th> NAME </th>
        <td> Hossam </td>
        <td> Kate </td>
        <td> Laila </td>
    </tr>

    <tr>
        <th> AGE </th>
        <td> 32 </td>
        <td> 30 </td>
        <td> 1 </td>
    </tr>


</table>